/* login.component.css */



mat-card {
    max-width: 400px;
    margin: auto;
    margin-top: 100px;
    padding: 20px;
  }
  
  form {
    display: flex;
    flex-direction: column;
  }
  
  button {
    margin-top: 20px;
  }
  /* login.component.css */
.login-container {
    height: 100vh;
  }
  
  mat-card {
    max-width: 400px;
    margin: auto;
  }
  
  form {
    display: flex;
    flex-direction: column;
  }
  
  button {
    margin-top: 20px;
  }
  

  section {
    display: table;
  }
  
  .example-label {
    display: table-cell;
    font-size: 14px;
    margin-left: 8px;
    min-width: 120px;
  }
  
  .example-button-row {
    display: table-cell;
    max-width: 600px;
  }
  
  .example-button-row .mat-mdc-button-base {
    margin: 8px 8px 8px 0;
  }
  
  .example-flex-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  
  .example-button-container {
    display: flex;
    justify-content: center;
    width: 120px;
  }